# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/webapp/dist
/webapp/tmp

# dependencies
/nodeapi/node_modules
/webapp/node_modules
/webapp/bower_components

# IDEs and editors
/webapp/.idea

# misc
/webapp/.sass-cache
/webapp/connect.lock
/webapp/coverage/*
/webapp/libpeerconnection.log
npm-debug.log
testem.log
/webapp/typings

# e2e
/webapp/e2e/*.js
/webapp/e2e/*.map

#System Files
.DS_Store
Thumbs.db
